ul#blog > li {
    border-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

ul#blog > li:first-of-type {
    border: 0;
    padding-top: 0;
}

ul#blog > li > h2 {
    font-size: 2rem;
    font-weight: bold;
}

ul#blog > li > ul {
    display: flex;
    margin-bottom: .5rem;
}

ul#blog > li > ul > li:first-of-type {
    margin-right: 10px;
}

ul#blog > li > ul > li svg {
    position: relative;
    top: 1px;
}

ul#blog > li > ul > li span:last-of-type {
    font-size: 1rem;
}

ul#blog > li > ul > li span:last-of-type a {
    color: var(--green);
    text-decoration: underline;
}

ul#blog > li > ul > li.share .icon {
    font-size: 1.3rem;
}

ul#blog > li > p {
    font-size: 1.4rem;
}
