<div id="pagination" class="columns">
    <div class="column is-half is-offset-one-quarter">
        <nav class="pagination is-rounded columns" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% for page in 1..posts.lastPage %}
                <li class="pagination-link {{ posts.currentPage == page ? 'is-current' : null }}">
                    <a href="{{ this.page.baseFileName|page() }}?page={{ page }}" aria-label="Goto page {{ page }}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
