<div id="post">
    <a href="{{ post.url }}">{{ post.title }}</a>
    <ul>
        <li>
            <span class="icon"><i class="far fa-calendar-alt"></i></span>
            <span>{{ post.published_at|date('M d, Y') }}</span>
        </li>
        <li>
            <span class="icon"><i class="fas fa-hashtag"></i></span>
            {% for category in post.categories %}
                <span><a href="{{ category.url }}">{{ category.name }}</a></span>
                <span>{% if not loop.last %}, {% endif %}</span>
            {% endfor %}
        </li>
    </ul>
    <p>{{ post.summary|raw }}</p>
</div>
