/* footer */
footer {
    background-color: rgba(0, 0, 0, .9);
    padding: 2rem 0;
}

footer p {
    text-align: center;
    color: white;
}

footer p a {
    color: var(--green);
    text-decoration: underline;
}

footer p a:hover {
    color: inherit;
}
